@font-face {
  font-family: "IRANSansWeb";
  font-style: normal;
  font-weight: bold;
  src: url("../..../../assets/fonts/sans-web/IRANSansWeb_Bold.eot") format("embedded-opentype"), url("../../assets/fonts/sans-web/IRANSansWeb_Bold.woff") format("woff2"), url("../../assets/fonts/sans-web/IRANSansWeb_Bold.woff") format("woff"), url("../../assets/fonts/sans-web/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSansWeb";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/sans-web/IRANSansWeb_Light.eot") format("embedded-opentype"), url("../../assets/fonts/sans-web/IRANSansWeb_Light.woff2") format("woff2"), url("../../assets/fonts/sans-web/IRANSansWeb_Light.woff") format("woff"), url("../../assets/fonts/sans-web/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSansWeb";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/sans-web/IRANSansWeb.eot") format("embedded-opentype"), url("../../assets/fonts/sans-web/IRANSansWeb.woff2") format("woff2"), url("../../assets/fonts/sans-web/IRANSansWeb.woff") format("woff"), url("../../assets/fonts/sans-web/IRANSansWeb.ttf") format("truetype");
}
* {
  font-family: "IRANSansWeb";
  box-sizing: border-box;
} 
html {
  font-family: "IRANSansWeb";
}

body {
  font-family: "IRANSansWeb";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  direction: rtl;
  background-color: white;
  background-image: url(../../assets/images/wave.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

a:hover {
  opacity: 0.8;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

h2,
h4,
h5 {
  font-weight: 600;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

p {
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

header .navbar {
  background: white;
  border-radius: 0px 0px 205px 205px;
  z-index: 1000000;
  position: fixed;
  width: 100%;
  box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.431372549);
}
@media only screen and (max-width: 992px) {
  header .navbar {
    height: 60px;
  }
}
@media only screen and (max-width: 992px) {
  header .navbar .navbar-toggler {
    margin-right: 50px;
  }
}
header .navbar .navbar-nav {
  margin-right: 50px;
}
header .navbar .navbar-nav .nav-link {
  padding: 0;
  margin: 10px;
  color: rgba(0, 0, 0, 0.8666666667);
}
header .navbar .nav-link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
}
header .navbar .logo-zavosh {
  width: 250px;
  margin-left: 50px;
}
@media only screen and (max-width: 992px) {
  header .navbar .logo-zavosh {
    width: 130px;
  }
}
header .navbar .navbar-collapse .accordion {
  width: 100%;
  direction: rtl;
  margin: auto;
  margin-right: 0;
  margin-top: 10px;
}
header .navbar .navbar-collapse .accordion .accordion-button:after {
  flex-shrink: 0;
  width: var(--mdb-accordion-btn-icon-width);
  height: var(--mdb-accordion-btn-icon-width);
  margin: auto;
  margin-left: 10% !important;
  content: "";
  background-image: var(--mdb-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--mdb-accordion-btn-icon-width);
  transition: var(--mdb-accordion-btn-icon-transition);
}
header .navbar .navbar-collapse .accordion .accordion-item {
  padding: 18px 24px;
}
header .navbar .navbar-collapse .accordion .accordion-item .accordion-button {
  padding: 0;
}
header .navbar .navbar-collapse .accordion .list-group-item {
  font-size: 12px;
}

.carousel-item {
  transition: inherit !important;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@media only screen and (max-width: 992px) {
  .slid-top-img {
    height: 260px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.dropdown-menu {
  inset: 30px auto auto 0px !important;
  border-radius: 88px;
  border-top-left-radius: 88px !important;
  border-top-right-radius: 88px !important;
}

.carousel-item {
  height: 100vh;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
@media only screen and (max-width: 992px) {
  .carousel-item {
    height: 0vh;
    height: 265px;
  }
}

.sale-box {
  position: absolute;
  background-color: white;
  height: 430px;
  width: 350px;
  left: 10%;
  top: 38%;
  border-radius: 20px;
  box-shadow: -1px 1px 20px -4px #0086b9;
}
@media only screen and (max-width: 992px) {
  .sale-box {
    left: 7%;
  }
}
@media only screen and (min-width: 2000px) {
  .sale-box {
    height: 591px;
    width: 506px;
    top: 54%;
  }
}
.sale-box .sale-head {
  background: rgb(10, 3, 133);
  background: linear-gradient(180deg, rgb(1, 117, 204) 24%, rgba(63, 122, 211, 0.63) 54%, rgba(245, 245, 245, 0) 100%);
  overflow: hidden;
  border-radius: 20px 20px 0 0px;
  height: 65px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 22px;
  color: white;
}
.sale-box .nav-tabs {
  background-color: white;
  width: 75%;
  margin: auto;
  border-radius: 32px;
  box-shadow: 0px 0px 17px -5px #0086b9;
}
.sale-box .nav-item {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.sale-box .nav-item .nav-link {
  color: #000;
  font-size: 16px;
}
.sale-box .nav-item .nav-link:hover {
  background: none;
}
.sale-box .nav-item .active {
  font-size: 16px;
  color: white;
  background: rgb(12, 6, 119);
  background: linear-gradient(180deg, rgb(12, 6, 119) 0%, rgb(25, 25, 195) 35%, rgb(0, 212, 255) 100%);
  border-radius: 33px;
  height: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
.sale-box .nav-item .active:hover {
  background: rgb(12, 6, 119);
  background: linear-gradient(180deg, rgb(12, 6, 119) 0%, rgb(25, 25, 195) 35%, rgb(0, 212, 255) 100%);
}
.sale-box .tab-content .tab-row {
  text-align: center;
  margin-top: 10px;
}
.sale-box .tab-content .tab-row span {
  margin-left: 40px;
  color: #000;
}
.sale-box .tab-content .tab-row-date {
  margin-top: 26px;
}
.sale-box .tab-content .tab-row-date span {
  margin-right: 40px;
}
.sale-box .tab-content .counter {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid gray;
  position: relative;
  top: -1px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.sale-box .tab-content button {
  border: none;
  background: none;
}
.sale-box .tab-content input {
  border-radius: 15px;
  border: 1px solid gray;
}
.sale-box .btn-row {
  text-align: center;
  margin-top: 30px;
}
.sale-box .btn-row button {
  width: 40%;
  border-radius: 20px;
  font-size: 18px;
  background: rgb(255, 110, 4);
  background: linear-gradient(180deg, rgb(255, 110, 4) 24%, rgba(255, 110, 4, 0.7130328694) 54%, rgba(255, 110, 4, 0.3768984156) 100%);
  color: white;
}
.sale-box .btn-row button:hover {
  background: rgb(255, 110, 4);
  background: linear-gradient(356deg, rgb(255, 110, 4) 24%, rgba(255, 110, 4, 0.7130328694) 54%, rgba(255, 110, 4, 0.3768984156) 100%);
  color: white;
}

.wave-container {
  height: 0;
}
@media only screen and (max-width: 992px) {
  .wave-container {
    height: 505px;
  }
}
.wave-container .wave-up {
  width: 100%;
  position: relative;
  bottom: 190px;
}
@media only screen and (max-width: 992px) {
  .wave-container .wave-up {
    bottom: 45px;
  }
}
@media only screen and (min-width: 2000px) {
  .wave-container .wave-up {
    bottom: 300px;
  }
}

.about-us-shell {
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 30px auto;
  height: 600px;
}
@media only screen and (min-width: 1400px) {
  .about-us-shell {
    max-width: 1320px;
  }
}
@media only screen and (min-width: 2000px) {
  .about-us-shell {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 992px) {
  .about-us-shell {
    height: 809px;
    width: 90%;
  }
}
.about-us-shell .possibil-list-01 {
  padding-right: 45px;
  position: absolute;
  top: 40px;
  right: 0;
  text-align: justify;
  color: white;
  transition: all 1.5s;
}
.about-us-shell .tag {
  border: none;
  direction: rtl;
  width: 102px;
  background: rgb(4, 65, 255);
  height: 55px;
  color: white;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  /* flex-wrap: nowrap; */
  align-items: center;
  border-radius: 60px 60px 0 0;
  margin: auto;
  margin-left: inherit;
  position: absolute;
  left: 36%;
  top: 395px;
}
@media only screen and (max-width: 900px) {
  .about-us-shell .tag {
    left: 30%;
    top: 304px;
  }
}
@media only screen and (max-width: 900px) {
  .about-us-shell ul {
    font-size: 12px;
  }
}
.about-us-shell h2 {
  color: #0086b9;
}
.about-us-shell p {
  text-align: justify;
}
.about-us-shell .about-us-img {
  margin: 10px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #000;
  overflow: hidden;
  transition: all 1s;
}
@media only screen and (max-width: 992px) {
  .about-us-shell .about-us-img {
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .about-us-shell .about-us-img {
    max-width: 800px;
  }
}
.about-us-shell .possibil-list-shell {
  position: relative;
}
@media only screen and (max-width: 992px) {
  .about-us-shell .possibil-list-shell {
    height: 480px;
  }
}
.about-us-shell .possibil-list-shell:hover .about-us-img {
  opacity: 0.2;
  background-color: #000;
}

/*-------------------------------------------------------------*/
.about-us-shell-top .container-card .card {
  vertical-align: top;
  width: 45%;
  height: 450px;
  position: relative;
  margin: 30px;
  box-shadow: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .about-us-shell-top .container-card .card {
    width: 90%;
    height: 350px;
  }
}
.about-us-shell-top .card .content {
  padding: 20px;
  transition: 0.8s all ease;
  color: #1b1919;
  transform: translateY(200px);
  opacity: 0;
}
@media only screen and (max-width: 900px) {
  .about-us-shell-top .card .content {
    padding: 0 20px;
  }
}
.about-us-shell-top .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.about-us-shell-top .card img {
  position: absolute;
  top: 0px;
  opacity: 0.8;
  z-index: -1;
}
.about-us-shell-top .card .content h2 {
  color: #ba1b1b;
  font-weight: 400;
}
.about-us-shell-top .card .content a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  padding: 8px 30px 11px;
  border: 2px solid #201087;
  text-transform: uppercase;
  color: #11b029;
  border-radius: 50px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.8);
  transition: 0.8s all ease;
}
@media only screen and (max-width: 900px) {
  .about-us-shell-top .container-card {
    display: block;
  }
}

/*-------------------------------------------------------------------*/
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0px -20px 100px 130px #070707;
  background-color: #000;
}

.Possibil-title {
  margin: auto;
  /* display: initial; */
  width: 100px;
  position: relative;
  top: 50px;
  z-index: 10;
  margin: auto;
  color: #0086b9;
  position: relative;
  top: -75px;
}
@media only screen and (max-width: 992px) {
  .Possibil-title {
    width: 50px;
    top: 0px;
  }
}

.Possibilities-shell {
  display: flex;
  align-items: center;
  background: rgb(28, 18, 209);
  background: linear-gradient(0deg, rgb(110, 185, 224) 0%, rgba(99, 219, 255, 0.24) 66%, rgba(245, 245, 245, 0) 100%);
  height: 100%;
  text-align: center;
  position: relative;
  bottom: 150px;
}
@media only screen and (max-width: 992px) {
  .Possibilities-shell {
    position: relative;
    bottom: 100px;
  }
}
.Possibilities-shell .about-us-shell {
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 30px auto;
  height: 100% !important;
}
.Possibilities-shell .about-us-shell h2 {
  color: #0086b9;
}
.Possibilities-shell .about-us-shell p {
  text-align: justify;
}
@media only screen and (max-width: 992px) {
  .Possibilities-shell .about-us-shell p {
    font-size: 12px;
  }
}
.Possibilities-shell .about-us-shell .about-us-img {
  margin: 10px;
  width: auto;
  height: 250px !important;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 1px 20px -5px #0086b9;
}
@media only screen and (max-width: 992px) {
  .Possibilities-shell .about-us-shell .about-us-img {
    height: 173px !important;
    margin: auto;
  }
}
.Possibilities-shell .container {
  position: relative;
  top: 50px;
}
.Possibilities-shell h3 {
  font-size: 1.2rem;
  /* font-size: 20px; */
  font-weight: 600;
  color: white;
  text-shadow: -1px 4px 8px black;
  padding: 30px;
}
@media only screen and (max-width: 992px) {
  .Possibilities-shell h3 {
    top: 10px;
    padding: 30px 0;
  }
}
.Possibilities-shell .Possibil-box {
  background: rgb(28, 18, 209);
  background: linear-gradient(180deg, rgb(81, 172, 221) 0%, rgb(139, 209, 232) 66%, rgb(245, 245, 245) 100%);
  width: 90%;
  height: 130px;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.431372549);
  transition: all 1s;
  display: flex;
}
.Possibilities-shell .Possibil-box img {
  width: 100px;
  margin: auto;
  opacity: 1;
  filter: invert(1);
}
@media only screen and (max-width: 992px) {
  .Possibilities-shell .Possibil-box img {
    width: 50px;
  }
}
.Possibilities-shell .Possibil-box p {
  color: white;
  padding: 35px;
}
.Possibilities-shell .Possibil-box:hover {
  background-color: #6ba3b7;
  box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.57);
}
@media only screen and (max-width: 992px) {
  .Possibilities-shell {
    height: 100%;
  }
}

.slider-nav .slick-current .Possibil-box {
  background: rgb(12, 6, 119);
  background: linear-gradient(180deg, rgb(53, 77, 157) 0%, rgb(0, 109, 181) 35%, rgb(0, 212, 255) 100%);
  height: 135px;
  width: 93%;
}

@media only screen and (max-width: 992px) {
  .slick-prev {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .slick-next {
    display: none !important;
  }
}

.blue-waves-magazine-title {
  width: 400px;
  margin: auto;
  color: #0086b9;
  position: relative;
  top: -30px;
}
@media only screen and (max-width: 992px) {
  .blue-waves-magazine-title {
    width: 75%;
    top: 0px;
  }
}

.blue-waves-magazine {
  position: relative;
  top: 45px;
  height: 718px;
  width: 68%;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .blue-waves-magazine {
    width: 90%;
    top: 50px;
    margin: inherit;
  }
}
.blue-waves-magazine .Possibil-box {
  height: 600px;
}
.blue-waves-magazine .Possibil-box .card-img-top {
  width: 100%;
  height: 280px;
}
.blue-waves-magazine .Possibil-box .card-text {
  direction: rtl;
  text-align: justify;
}
.blue-waves-magazine .Possibil-box .card-title {
  text-align: end;
}
.blue-waves-magazine h2 {
  text-align: center;
  margin: 40px;
  color: #0086b9;
}
.blue-waves-magazine .card {
  width: 95% !important;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 0px rgba(15, 28, 83, 0.3215686275);
}
.blue-waves-magazine .card .card-img-top {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.blue-waves-magazine .card .card-body {
  position: relative;
  bottom: 55px;
}
.blue-waves-magazine .card .card-body .card-date {
  direction: rtl;
  width: 60px;
  background: rgb(4, 65, 255);
  background: linear-gradient(180deg, rgb(81, 172, 221) 0%, rgb(139, 209, 232) 66%, rgb(245, 245, 245) 100%);
  height: 60px;
  color: white;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  /* flex-wrap: nowrap; */
  align-items: center;
  border-radius: 20px 38px 40px;
  margin: auto;
  margin-left: inherit;
  position: relative;
  left: -6%;
  box-shadow: 3px 5px 7px 3px rgba(0, 0, 0, 0.3803921569);
}

footer {
  position: relative;
  top: 0px;
}
@media only screen and (max-width: 992px) {
  footer {
    top: -150px;
  }
}
footer .container {
  padding-top: 20px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 992px) {
  footer .container {
    padding-top: 146px;
  }
}
footer .container .col-lg-7 {
  margin-top: 90px;
}
@media only screen and (max-width: 992px) {
  footer .container .col-lg-7 {
    margin-top: 10px;
    padding-right: 40px;
  }
}
footer h5 {
  color: white;
}
@media only screen and (max-width: 992px) {
  footer h5 {
    color: #27292a;
  }
}
footer .footer-paraf {
  font-size: 12px;
  text-align: justify;
  padding: 10px 0 0 0;
  color: white;
}
@media only screen and (max-width: 992px) {
  footer .footer-paraf {
    color: #27292a;
  }
}
footer .footer-list {
  padding: 0;
  list-style: none;
  list-style-type: " +  ";
}
footer .footer-list .footer-list-link {
  font-size: 12px;
  color: white;
}
@media only screen and (max-width: 992px) {
  footer .footer-list .footer-list-link {
    color: #27292a;
  }
}
footer .connect-ways {
  padding: 5px 0;
}
footer .connect-ways .fa {
  background-color: #69c8f6;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  color: white;
}
footer .connect-ways span {
  font-size: 12px;
  color: white;
}
@media only screen and (max-width: 992px) {
  footer .connect-ways span {
    color: #27292a;
  }
}
footer li {
  color: white;
}
@media only screen and (max-width: 992px) {
  footer li {
    color: #27292a;
  }
}
footer .footer-logo {
  width: 350px;
}
footer .footer-img img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */