@import "color";
@import "font";

body {
    font-family: $fontIranYEkan;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    direction: rtl;
    background-color: $bgLight;




}

a {
    text-decoration: none;
    color: inherit;
    user-select: text;

}

a:hover {
    opacity: 0.8;
    user-select: text;
}

h2,
h4,
h5 {
    font-weight: 600;
    user-select: text;
}

p {
    user-select: text;
}

header {
    .navbar {
        background: $bgLight;
        border-radius: 0px 0px 205px 205px;
        z-index: 1000000;
        position: fixed;
        width: 100%;
        box-shadow: -1px 1px 12px 3px #0000006e;

        @media only screen and (max-width:992px) {
            height: 60px;
        }

        .navbar-toggler {
            @media only screen and (max-width:992px) {
                margin-right: 50px;
            }
        }

        .navbar-nav {
            margin-right: 50px;

            .nav-link {
                padding: 0;
                margin: 10px;
                color: #000000dd;
            }
        }

        .nav-link:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.66);
        }

        .logo-zavosh {
            width: 250px;
            margin-left: 50px;

            @media only screen and (max-width:992px) {
                width: 130px;
            }
        }

        .navbar-collapse {
            .accordion {
                width: 100%;
                direction: rtl;
                margin: auto;
                margin-right: 0;
                margin-top: 10px;

                .accordion-button:after {
                    flex-shrink: 0;
                    width: var(--mdb-accordion-btn-icon-width);
                    height: var(--mdb-accordion-btn-icon-width);
                    margin: auto;
                    margin-left: 10% !important;
                    content: "";
                    background-image: var(--mdb-accordion-btn-icon);
                    background-repeat: no-repeat;
                    background-size: var(--mdb-accordion-btn-icon-width);
                    transition: var(--mdb-accordion-btn-icon-transition);
                }

                .accordion-item {
                    padding: 18px 24px;

                    .accordion-button {
                        padding: 0;

                    }
                }

                .list-group-item {
                    font-size: 12px;
                }
            }
        }
    }
}


.carousel-item {
    transition: inherit !important;
    animation: fadeOut 2s;
    -webkit-animation: fadeOut 2s;
    -moz-animation: fadeOut 2s;
    -o-animation: fadeOut 2s;
    -ms-animation: fadeOut 2s;



    animation: fadeIn 2.5s;

    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;


}

.slid-top-img {

    @media only screen and (max-width:992px) {
        height: 260px;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}







@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.dropdown-menu {


    inset: 30px auto auto 0px !important;
    border-radius: 88px;
    border-top-left-radius: 88px !important;
    border-top-right-radius: 88px !important;
}

.carousel-item {
    height: 100vh;
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);

    @media only screen and (max-width:992px) {
        height: 0vh;
        height: 265px;
    }
}

.sale-box {
    position: absolute;
    background-color: $bgLight;
    height: 430px;
    width: 350px;
    left: 10%;
    top: 38%;
    border-radius: 20px;
    box-shadow: -1px 1px 20px -4px #0001026b;

    @media only screen and (max-width:992px) {
        left: 7%;

    }

    @media only screen and (min-width:2000px) {
        height: 591px;
        width: 506px;

        top: 54%;

    }

    .sale-head {
        background-color: rgb(0 210 238 / 97%);

        overflow: hidden;
        border-radius: 20px 20px 0 0px;
        height: 40px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 22px;
        color: $bgLight;
    }

    .nav-tabs {
        background-color: $bgLight;
        width: 75%;
        margin: auto;
        border-radius: 32px;
        box-shadow: 0px 0px 17px -5px $blueSeeColor;
    }

    .nav-item {
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        .nav-link {
            color: #000;
            font-size: 16px;
        }

        .nav-link:hover {
            background: none;
        }

        .active {
            font-size: 16px;
            color: $bgLight;
            background-color: rgb(0 210 238 / 97%);

            border-radius: 33px;
            height: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            align-content: stretch;
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .active:hover {
            background-color: rgb(0 210 238 / 97%);

        }

    }

    .tab-content {
        .tab-row {
            text-align: center;
            margin-top: 10px;

            span {
                margin-left: 40px;
                color: #000;
            }
        }

        .tab-row-date {
            margin-top: 26px;

            span {
                margin-right: 40px;
            }

        }

        .counter {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 30px;
            border: 1px solid gray;
            position: relative;
            top: -1px;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: stretch;
        }

        button {
            border: none;
            background: none;
        }

        input {
            border-radius: 15px;
            border: 1px solid gray;

        }



    }

    .btn-row {
        text-align: center;
        margin-top: 30px;

        button {
            width: 40%;
            border-radius: 20px;
            font-size: 18px;
            background: rgb(255, 110, 4);
            background: linear-gradient(180deg, rgba(255, 110, 4, 1) 24%, rgba(255, 110, 4, 0.7130328693977591) 54%, rgba(255, 110, 4, 0.3768984156162465) 100%);
            color: $bgLight;
        }

        button:hover {
            background: rgb(255, 110, 4);
            background: linear-gradient(356deg, rgba(255, 110, 4, 1) 24%, rgba(255, 110, 4, 0.7130328693977591) 54%, rgba(255, 110, 4, 0.3768984156162465) 100%);
            color: $bgLight;
        }
    }
}

.wave-container {
    height: 0;

    @media only screen and (max-width:992px) {
        height: 505px;
    }

    .wave-up {
        width: 100%;
        position: absolute;
        bottom: -2px;


        @media only screen and (max-width:992px) {
            top: 220px;
        }

    }
}

.about-us-shell {

    align-items: center;
    text-align: center;
    width: 90%;
    margin: 30px auto;
    height: 600px;

    @media only screen and (min-width:1400px) {
        max-width: 1320px;


    }

    @media only screen and (min-width:2000px) {
        max-width: 1320px;
    }

    @media only screen and (max-width:992px) {
        height: 809px;
        width: 90%;
    }

    .possibil-list-01 {
        padding-right: 45px;
        position: absolute;
        top: 40px;
        right: 0;
        text-align: justify;
        color: white;
        transition: all 1.5s;
    }

    .tag {
        border: none;
        direction: rtl;
        width: 102px;
        background-color: rgb(0 210 238 / 97%);

        height: 55px;
        color: white;
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        /* flex-wrap: nowrap; */
        align-items: center;
        border-radius: 60px 60px 0 0;
        margin: auto;
        margin-left: inherit;
        position: absolute;
        left: 36%;
        top: 395px;

        @media only screen and (max-width:900px) {
            left: 30%;
            top: 304px;
        }
    }

    ul {
        @media only screen and (max-width:900px) {
            font-size: 12px;
        }

    }

    h2 {
        color: $blueSeeColor;
    }

    p {
        text-align: justify;
    }

    .about-us-img {
        margin: 10px;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background-color: #000;
        overflow: hidden;
        transition: all 1s;

        @media only screen and (max-width:992px) {
            height: 100%;

        }

        @media (min-width: 1400px) {
            max-width: 800px;
        }
    }

    .possibil-list-shell {
        position: relative;

        @media only screen and (max-width:992px) {
            height: 480px;

        }

    }

    .possibil-list-shell:hover {
        .about-us-img {
            opacity: .2;
            background-color: #000;
        }
    }
}

/*-------------------------------------------------------------*/
.about-us-shell-top {
    .container-card .card {
        vertical-align: top;
        width: 45%;
        height: 450px;
        position: relative;
        margin: 30px;
        box-shadow: none;
        border-radius: 25px;
        background-color: rgb(255 255 255 / 0%);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media only screen and (max-width:900px) {
            width: 90%;
            height: 350px;
        }
    }

    .card .content {
        padding: 20px;
        transition: 0.8s all ease;
        color: #1b1919;
        transform: translateY(200px);
        opacity: 0;

        @media only screen and (max-width:900px) {
            padding: 0 20px;
        }
    }

    .card:hover .content {
        transform: translateY(0px);
        opacity: 1;
    }

    .card img {
        position: absolute;


        top: 0px;
        opacity: 0.8;
        z-index: -1;
    }

    .card .content h2 {
        color: #ba1b1b;
        font-weight: 400;
    }

    .card .content a {
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        padding: 8px 30px 11px;
        border: 2px solid #201087;
        text-transform: uppercase;
        color: #11b029;
        border-radius: 50px;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.8);
        transition: 0.8s all ease;
    }

    @media only screen and (max-width:900px) {
        .container-card {
            display: block;
        }
    }

}


/*-------------------------------------------------------------------*/

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px -20px 100px 130px #070707;
    background-color: #000;
}

.Possibil-title {
    margin: auto;
    /* display: initial; */
    width: 100px;
    position: relative;
    top: 50px;
    z-index: 10;
    margin: auto;
    color: #0086b9;
    position: relative;
    top: -75px;

    @media only screen and (max-width:992px) {
        width: 50px;
        top: 0px;
    }

}

.Possibilities-shell {
    display: flex;
    align-items: center;
    background: rgb(28, 18, 209);
    background: linear-gradient(0deg, $buleFooter, rgb(99 219 255 / 24%) 66%, rgba(245, 245, 245, 0) 100%);
    height: 100%;
    text-align: center;
    position: relative;
    bottom: 150px;

    @media only screen and (max-width:992px) {
        position: relative;
        bottom: 100px;
    }

    .about-us-shell {

        align-items: center;
        text-align: center;
        width: 90%;
        margin: 30px auto;
        height: 100% !important;

        h2 {
            color: $blueSeeColor;
        }

        p {
            text-align: justify;

            @media only screen and (max-width:992px) {
                font-size: 12px;
            }
        }

        .about-us-img {
            margin: 10px;
            width: auto;
            height: 250px !important;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0px 1px 20px -5px #0086b9;

            @media only screen and (max-width:992px) {
                height: 173px !important;
                margin: auto;
            }
        }
    }

    .container {
        position: relative;
        top: 50px;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #007dc2;
        padding: 30px;

        @media only screen and (max-width:992px) {
            top: 10px;
            padding: 30px 0;
        }

    }

    .Possibil-box {
        background: rgba(0, 210, 238, 0.97);
        width: 90%;
        height: 130px;
        border-radius: 20px;
        padding: 15px;
        margin: 15px;

        transition: all 1s;
        display: flex;

        img {
            width: 100px;
            margin: auto;
            opacity: 1;
            filter: invert(1);

            @media only screen and (max-width:992px) {
                width: 50px;
            }
        }

        p {
            color: $bgLight;
            padding: 35px;
        }
    }



    @media only screen and (max-width:992px) {
        height: 100%;
    }
}

.slider-nav {
    .slick-current {
        .Possibil-box {
            background: rgb(0 125 194);
            height: 135px;
            width: 93%;
        }
    }
}

.slick-prev {

    @media only screen and (max-width:992px) {
        display: none !important;
    }
}

.slick-next {

    @media only screen and (max-width:992px) {
        display: none !important;
    }
}

.blue-waves-magazine-title {
    width: 400px;
    margin: auto;
    color: $blueSeeColor;
    position: relative;
    top: -30px;

    @media only screen and (max-width:992px) {
        width: 75%;
        top: 0px;
    }
}

.blue-waves-magazine {
    position: relative;
    top: 45px;
    height: 718px;
    width: 100%;
    margin: auto;

    @media only screen and (max-width:992px) {
        width: 90%;
        top: 50px;
        margin: inherit;
    }

    .Possibil-box {
        height: 600px;

        .card-img-top {
            width: 100%;
            height: 280px;
        }

        .card-text {
            direction: rtl;
            text-align: justify;
        }

        .card-title {
            text-align: end;
        }
    }

    h2 {
        text-align: center;
        margin: 40px;
        color: $blueSeeColor;
    }

    .card {
        width: 95% !important;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 1px 7px 0px rgba(15, 28, 83, 0.3215686275);

        .card-img-top {
            border-radius: 20px 20px 0 0;
            overflow: hidden;

        }

        .card-body {
            position: relative;
            bottom: 55px;

            .card-date {
                direction: rtl;
                width: 60px;
                background-color: rgb(0 210 238 / 97%);

                height: 60px;
                color: $bgLight;
                text-align: center;
                display: flex;
                align-content: center;
                justify-content: space-evenly;
                /* flex-wrap: nowrap; */
                align-items: center;
                border-radius: 50%;
                margin: auto;
                margin-left: inherit;
                position: relative;

                left: -6%;
                box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.3803921569);
            }

        }

    }
}

footer {
   
    background-color: $buleFooter;

    

    .container {
        padding-top: 20px;
        padding-bottom: 25px;

        @media only screen and (max-width:992px) {
            padding-top: 46px;
        }

        .col-lg-7 {
            margin-top: 90px;

            @media only screen and (max-width:992px) {
                margin-top: 10px;
                padding-right: 40px
            }
        }
    }

    h5 {
        @media only screen and (max-width:992px) {
            color: #27292a;
        }
    }

    .footer-paraf {
        font-size: 12px;
        text-align: justify;
        padding: 10px 0 0 0;

        @media only screen and (max-width:992px) {
            color: #27292a;
        }
    }

    .footer-list {
        padding: 0;
        list-style: none;
        list-style-type: " +  ";

        .footer-list-link {
            font-size: 12px;

            @media only screen and (max-width:992px) {
                color: #27292a;
            }
        }
    }

    .connect-ways {
        padding: 5px 0;

        .fa {
            background-color: #69c8f6;
            width: 25px;
            height: 25px;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            color: white;
        }

        span {
            font-size: 12px;
            ;

            @media only screen and (max-width:992px) {
                color: #27292a;
            }
        }
    }

    li {
        @media only screen and (max-width:992px) {
            color: #27292a;
        }
    }

    .footer-logo {
        width: 350px;
    }

    .footer-img {
        img {
            width: 100%;
        }
    }

}